build/
_COMPLETED/
_BODEGA/
_DISCARDS/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.fdb_latexmk
*.fls
*.md
*.txt
graduate-manuscript-standards-nov-2024final.pdf
bodega.tex